@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

.container {
  background-image: linear-gradient(
    112.1deg,
    rgba(32, 38, 57, 1) 11.4%,
    rgba(63, 76, 119, 1) 70.2%
  );
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  background-color: rgba(0, 0, 0, 0.3);
  width: 50%;
  height: 600px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin-bottom: 50px;
  width: 100%;
  overflow-y: hidden;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: "Ubuntu", serif;
  color: grey;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.list {
  width: 90%;
  margin: auto;
  overflow: hidden;
  overflow-y: auto;
}

.task-input {
  width: 80%;
  padding: 15px 10px 10px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-family: "Ubuntu", serif;
  font-size: 15px;
  color: #ccc;
  background-color: #1d222b;
  border: 1px solid #444;
  outline: none;
  border-radius: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  margin: 10px;
}

.switch-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.add-task-btn {
  min-width: 100px;
  background-color: brown;
  border: none;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  outline: none;
  cursor: pointer;
}

.list-item {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding-bottom: 5px;
}

.list-item span {
  color: #999;
}

.task-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.btn-delete i {
  font-size: 16px;
  color: #bbb;
  margin-right: 20px;
}

.btn-edit i {
  font-size: 16px;
  color: #bbb;
  margin-right: 20px;
}

.clear-btn {
  width: 100px;
  height: 35px;
  background-color: brown;
  border: none;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  outline: none;
  cursor: pointer;
}

.no-tasks {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  color: #444;
}

.login-btn {
  width: 130px;
  height: 35px;
  background-color: brown;
  border: none;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  outline: none;
  cursor: pointer;
  margin: 4%;
}
.signup-btn {
  width: 130px;
  height: 35px;
  background-color: brown;
  border: none;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  outline: none;
  cursor: pointer;
  margin: 4%;
}

@media (max-width: 600px) {
  .app-wrapper {
    width: 90%;
  }
}
